$widthLeftMenu: 80px;


$border_color: #e6e6e6;
$primary_color_light: #a6adb5;
$primary_color: #a6c1dd;
$secundary_color: #1c528a;
$primary_color_text: #fff; 
$submenu_bg_color: #F0F8FF;
$submenu_text_color: #000080;